	</div>
	<div class="p-2 bg-dark text-muted text-center mt-auto">&copy; Copyright 2021 - All Rights Reserved<span class="mx-5 d-block d-md-inline"></span>made with &#10084;&#65039; by <a href="https://github.com/AshkanLaei" class="text-reset">Ashkan Laei</a></div>
</body>
</html>